# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model checkpoints and weights
*.h5
*.keras
*.ckpt
*.pt
*.pth
*.tflite

# Ignore large datasets
data/
datasets/
*.zip
*.tar.gz
*.nii
*.dcm
*.csv

# Ignore logs
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/
.env

# Ignore test folders and unnecessary scripts
tests/
notebooks/
